# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test outputs
*.test
*.out
*.prof

# vscode and idea folders
.vscode
.idea

# ignore binaries and vendoring
tsconvert*
debug*
vendor

# Unneeded files and folders
.DS_Store
coverage.txt
